* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #edecec;
}

.contanier {
    display: flex;
    align-items: center;
}

img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.contanier h1 {
    font-size: 24px;
    font-weight: bold;
}

.list ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

.list ul li {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#Home:hover {
    color: #fdfdfd;
    background-color: #9929fb;
    padding: 8px 12px;
}

#About:hover {
    color: #fdfdfd;
    background-color: #9929fb;
    padding: 8px 12px;
}

#Portfolio:hover {
    color: #fdfdfd;
    background-color: #9929fb;
    padding: 8px 12px;
}
a{
    text-decoration: none;
    color: black;
}

#Experience:hover {
    color: #fdfdfd;
    background-color: #9929fb;
    padding: 8px 12px;
}

#Contect:hover {
    color: #fdfdfd;
    background-color: #9929fb;
    padding: 8px 12px;
}


.para {
    margin-top: 20px;
    font-size: 17px;
}

.h1 {
    margin-top: 100px;
    font-weight: bolder;
    font-size: 36px;
}

.img-box {
    width: 500px;
    height: 600px;
    border: 2px solid #eae7e7;
    border-radius: 15px;
    background: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.Profile-Image {
    width: auto;
    height: 540px;
    margin-top: 60px;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-right: 30px;
    margin-left: 30px;
}

.text {
    max-width: 600px;
    margin: 0;
    text-align: left;

}

.button {
    margin: 20px 0;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9929fb;
    color: white;
    border: none;
    border-radius: 5px;
}

.box-container {
    display: flex;               
    justify-content: center;     
    gap: 3px;                        
    margin-top: 30px;     
}

.box {
    background-color: #F6EBFE;
    padding: 20px 35px;
    width: 250px;
    text-align: center;
    margin-top: 160px;
}
.card{
    border: 1px solid lightgray;
    margin-left: 10px;
    width: 390px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.img{
    width: 388px;
    height: 250px;
}
.heading{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.p{
    text-align: center;
    margin-bottom: 50px;
}
.h2{
    text-align: left;
    padding: 30px 30px;
    width: 390px;
}
.but{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.but:hover{
    color: #9929fb;
    border: 1px solid #9929fb;
}
.pra{
    margin-top: 15px;
}
.Brooklyn{
    text-align: center;
    background-color: #9929fb;
    height: 300px;
    padding-top: 140px;
    color: #ffffff;
    font-size: 60px;
}

